﻿@model tweett.Models.Account

@{
    ViewBag.Title = "IndexPost";
}

<div class="jumbotron">
    
    

    <div class="form-group">
        <div>
            <dl class="dl-horizontal">
                
               <p>@Html.DisplayFor(model => model.username)</p>
               <p>@DateTime.Now.Date</p>

                @foreach(var p in Model.Retweets)
                {
                    @Html.DisplayFor(model=>p.Postse.textP)
                }



            </dl>
           

        </div>
    </div>
    @Html.ActionLink("Post", "Index", "Posts", null)
</div>
