﻿@model IEnumerable<tweett.Models.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Profile</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdUser }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdUser }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdUser })
            </td>
        </tr>
    }

</table>
