﻿@model tweett.Models.Account
@{
    Layout = null;
<<<<<<< HEAD
    ViewBag.Title = "login";
}

   <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    
</head>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="font-size:20px; margin-top:40px; height=300px;">

            <h1> Welcome to Twitter.</h1><br><br>

            Connect with your friends — and other fascinating people. <br>
            Get in-the-moment updates on the things that interest you.<br>
            And watch events unfold, in real time, from every angle.
        </div>
        <div class="col-md-6">

            @using (Html.BeginForm("Autherize", "Accounts", FormMethod.Post))
            {

                <div class="form-horizontal flame2">
                    <h4 style="text-align:center; padding-top: 20px;">Login Here!</h4>

                    <hr />
                    <div class="form-group">

                        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.username)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password)
                        </div>
                    </div>
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @style = "display: none", @value = "asdasd" } })

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Login" name="name" class="btn btn-default">Login</button>
                            <button type="reset" value="Clear" name="name" class="btn btn-default">Clear</button>
                        </div>
                    </div>

                </div>
            }

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal flame">

                    <h4 style="text-align:center; padding-top: 20px;">Regiter Here!</h4>

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Create" class="btn btn-default">Register</button>
                        </div>
                    </div>
                </div>
            }
            </d>
        </div>


    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

=======
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Autherize", "Accounts",FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline">Tweety</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.username)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.username)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.username)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.password)</td>
                    <td>@Html.EditorFor(model => model.password)</td>
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @style = "display: none", @value = "asdasd" } })
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="name" value="Login" />
                        <input type="reset" name="name" value="Clear" />
                    </td>
                </tr>
            </table>
            @Html.ActionLink("Create new account", "Create", "Accounts")
        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
>>>>>>> 8ca85eb950ffac674af1ea6bc81c5617634836b6
