﻿@model tweett.Models.Posts

@{
    ViewBag.Title = "Index";
    var Haash = ViewData["Hashtags"] as List<tweett.Models.Hashtag>;
    var posts = ViewData["posts"] as List<tweett.Models.Posts>;
    var account = ViewData["account"] as List<tweett.Models.Account>;
    var reply = ViewData["comment"] as List<tweett.Models.Reply>;
    var user = ViewData["User"] as tweett.Models.Account;
}

<div class="ProfileCard2">
    <ul class="nav navbar-nav">

        <li class="navbar-brand" style="color:#ffffff;">tweeeeeeeeeeeet</li>
        <li class="navbar-brand">tweet</li>
        <li class="navbar-brand">following</li>
        <li class="navbar-brand">follower</li>
    </ul>
</div>
<div class="img-circle user2">
</div>
<div class="row">
    <div class="col-lg-2">
        <div class="ProfileCard3">
            @foreach (var acc in account)
            {
                @Html.DisplayFor(modelitem => acc.username)<br>
                <h5>@Html.DisplayFor(modelItem => acc.email)</h5>
            }

          

        </div>
    </div>
    <div class="col-lg-10">
        



    </div>
</div>