﻿@model tweett.Models.Posts
@{
    ViewBag.Title = "Details";
    var Haash = ViewData["Hashtags"] as List<tweett.Models.Hashtag>;
    var posts = ViewData["posts"] as List<tweett.Models.Posts>;
    var account = ViewData["account"] as List<tweett.Models.Account>;
    var reply = ViewData["comment"] as List<tweett.Models.Reply>;
}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 " style="margin-top:20px;">
        <br>
        
            <div class="tweet">
                    <div class="row">
                        <div class="col-lg-2"><div class="user3 img-circle" style="margin-left:20px;"> </div></div>
                        <div class="col-lg-10" style="margin-top:20px; padding-left:50px;">
                        @foreach(var a in account)
                        {
                           @Html.ActionLink(a.username, "Profile", "Accounts", new { id = a.IdUser }, null)
                            
                        }
                        @Html.DisplayFor(model => model.date_timeP)<br>
                         @Html.DisplayFor(model => model.textP)
                    
                        <br>
                       

                    @foreach (var Hash in Haash)
                    {
                        @Html.ActionLink(Hash.create_hashtag, "Details", "Hashtags", new { id = Hash.IdHash }, null)
                    }

                    <br>
                   
                    <br>
                    <br>
                            </div>
                        </div>
                 </div>
           
                   <div  style="margin-top:20px;">
                                           @foreach (var c in reply)
                                           {
                                            <div class="tweet">

                                                @Html.DisplayFor(model => c.textR)   
                                                @Html.DisplayFor(model => c.date_time)    <br>
                                            </div>
                                           }

                   </div>
                    @Html.ActionLink("Reply", "Create", "Replies")
     
            </div>
    <div class="col-lg-2"></div>
    </div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPost }) |
    @Html.ActionLink("Back to List", "Index")

</p>*@
