﻿@model tweett.Models.Posts

@{

    ViewBag.Title = "Index";
    var Haash = ViewData["Hashtags"] as List<tweett.Models.Hashtag>;
    var posts = ViewData["posts"] as List<tweett.Models.Posts>;
    var account = ViewData["account"] as List<tweett.Models.Account>;
    var reply = ViewData["comment"] as List<tweett.Models.Reply>;
    var user = ViewData["User"] as tweett.Models.Account;
    var hash = ViewData["HasH"] as tweett.Models.Hashtag;
}


<div class="container">
    <div class="row">
        <div class="col-md-4">
           
            
            <div class="ProfileCard">
                <div class="img-circle user"></div>
                <div class="username">
                    @foreach (var acc in account)
                    {
                        @Html.DisplayFor(modelitem => acc.username)
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal addtweet" style="margin-bottom:10px;">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="padding-top:10px;">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.textP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.textP, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.date_timeP, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToString("h:mm:ss"), @style = "display: none" } })
                            @Html.ValidationMessageFor(model => model.date_timeP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AccountIdUser, new { htmlAttributes = new { @class = "form-control", @Value = user.IdUser, @style = "display: none" }  })
                            @Html.ValidationMessageFor(model => model.AccountIdUser, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <button value="Create" class="btn btn-default" type="submit" style="position:absolute; right:30px; top:0px; margin-top:10px;">Tweet</button>


                </div>
            }

            <table class="table">

                @foreach (var item in posts)
                {
                    <tr class="tweet">
                        <td>
                           @foreach (var acc in account)
                           {
                            @Html.DisplayFor(modelitem => acc.username)
                           }
                            @Html.DisplayFor(modelitem => item.date_timeP)
                           
                            <br>
                            @Html.DisplayFor(modelItem => item.textP)
                            @foreach (var Hash in Haash)
                            {
                                @Html.ActionLink(Hash.create_hashtag, "Details", "Hashtags", new { id = Hash.IdHash }, null)
                            }
                            <br>
                            @Html.ActionLink("Edit", "Edit", new { id = item.IdPost }) |
                            @Html.ActionLink("Details", "Details", new { id = item.IdPost }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IdPost }) |
                            @Html.ActionLink("Create Hashtag", "Create", "Hashtags")
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
