﻿@model tweett.Models.Reply

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reply</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.textR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.textR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_time)
        </dt>

        <dd>
            @DateTime.Now.Date
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostIdPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostIdPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountIdUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountIdUser)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdReply }) |
    @Html.ActionLink("Back to List", "Index")
</p>
