﻿@model IEnumerable<tweett.Models.Reply>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.textR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostIdPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountIdUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.textR)
        </td>
        <td>
           @DateTime.Now.Date
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostIdPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountIdUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdReply }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdReply }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdReply })
        </td>
    </tr>
}

</table>
