﻿@model IEnumerable<tweett.Models.Hashtag>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.create_hashtag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.create_hashtag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdHash }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdHash }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdHash })
        </td>
    </tr>
}

</table>
