﻿@model tweett.Models.Posts
@{
    ViewBag.Title = "Home Page";
    var posts = ViewData["Posts"] as List<tweett.Models.Posts>;
}
@{ 
    ViewBag.Title = "Home Page";
    var posts = ViewData["Posts"] as List<tweett.Models.Posts>;
}
    <div class="jumbotron">
        <h1>Home Page</h1>
        <h2>profile</h2>
        @foreach (var post in posts)
        {
            @post.textP
        }


<<<<<<< HEAD
<div class="jumbotron">
   

    <div class="form-group">
        @Html.ActionLink("Post", "Index", "Posts")
    </div>
    @foreach(var post in posts)
    {
        @post.textP
    }


</div>
=======
    </div>
>>>>>>> 8ca85eb950ffac674af1ea6bc81c5617634836b6
